<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Contratos</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon"
	href="https://icons.iconarchive.com/icons/mad-science/yellow-submarine/32/APPLE-icon.png" />

<style>
#titulo, label {
	color: white;
}
</style>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body background="../img/background.jpg">	
	<div class="container">
		<br>
		<h2 id="titulo">Actualizar Contrato</h2>
		<form action="#" th:action="@{/updContrato}" th:object="${contrato}"
			method="post" class="row">
			
			<input type="hidden" class="form-control" id="id_contrato"
				th:field="*{id_contrato}" name="id_contrato" required>

			<div class="form-group col-md-4">
				<label for="descripcion_contra">Descripción</label> <input
					type="text" class="form-control" id="descripcion_contra"
					th:field="*{descripcion_contra}" name="descripcion_contra" required>
			</div>

			<div class="form-group col-md-3">
				<label for="inicio_contra">Fecha Inicio</label> <input type="date"
					class="form-control" id="inicio_contra" th:field="*{inicio_contra}"
					name="inicio_contra" required>
			</div>

			<div class="form-group col-md-3">
				<label for="termino_contra">Fecha Termino</label> <input type="date"
					class="form-control" id="termino_contra"
					th:field="*{termino_contra}" name="termino_contra" required>
			</div>

			<div class="form-group col-md-3">
				<label for="tipocontrato">Tipo Contrato</label> <select
					th:field="*{tipocontrato}" class="form-select" id="tipocontrato"
					required>
					<option th:each="tipoContrato:${listTipoContrato}"
						th:value="${tipoContrato.id_t_contra}"
						th:text="${tipoContrato.descripcion}" />
				</select>
				<!-- 
				<input
					type="text" class="form-control" id="tipo_contrato_id_t_contra"
					th:field="*{tipo_contrato_id_t_contra}"
					name="tipo_contrato_id_t_contra" required>  -->
			</div>

			<div class="form-group col-md-3">
				<label for="estadocontrato">Estado</label> <select
					th:field="*{estadocontrato}" class="form-select"
					id="estadocontrato" required>
					<option th:each="estadoContrato:${listEstadoContrato}"
						th:value="${estadoContrato.id_est_contra}"
						th:text="${estadoContrato.estado_contra}" />
				</select>

				<!-- 
				<input
					type="text" class="form-control" id="estado_contrato_id_est_contra"
					th:field="*{estado_contrato_id_est_contra}"
					name="estado_contrato_id_est_contra" required>  -->
			</div>

			<div>
				<br>
				<button type="submit" class="btn btn-primary">Modificar</button>
				<a href="/listaContrato" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
	</div>
</body>
</html>