<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Detalle de Pedidos</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon"
	href="../img/logo_sin_palabras.png" />

<style>
#titulo, label {
	color: white;
}
</style>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<body class="p-3 mb-2 bg-dark text-white">
	<div class="container">
		<br>
		<h1 class="text-center"><img src="../img/logo_sin_palabras.png" width="80" class="my-4" ></h1>
		<h1 class="text-center">Detalle de Pedidos</h1>
		<br>
		<form action="#" th:action="@{/updPedido}" th:object="${pedido}"
			method="post" class="row">

			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="p-3 mb-2 bg-primary text-white">Cliente&nbsp;<i class="fa fa-users"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Fecha&nbsp;<i class="fa fa-calendar"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Productos&nbsp;<i class="fa fa-shopping-cart"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="alert alert-warning alert-dismissible fade show"
									role="alert"  th:each="pedido : ${pedidos}"
							th:if="${pedido.fechaYHora} == *{fechaYHora}">
							<td th:text="${pedido.cliente.nombre_cliente}"></td>
							<td th:text="${pedido.fechaYHora}"></td>
							<td>
								<table class="table table-bordered">
									<thead>
										<tr>
										<th class="p-3 mb-2 bg-success text-white">Nombre</th>
											<th class="p-3 mb-2 bg-success text-white">Cantidad Solicitada</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="producto : ${pedido.productos}">
											<td th:text="${producto.nombre}"></td>
											<td th:text="${producto.cantidad}"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<input type="hidden" class="form-control" id="id" th:field="*{id}"
				name="id"> <input type="hidden" class="form-control"
				id="fechaYHora" th:field="*{fechaYHora}" name="fechaYHora">
			<input type="hidden" class="form-control" id="estadoPedido"
				th:value="3" name="estadoPedido"> <input type="hidden"
				class="form-control" id="cliente" th:value="*{cliente.id_cliente}"
				name="cliente">
			<div>
				<br>
				<button type="submit" class="btn btn-primary">Publicar&nbsp;<i class="fa fa-check"></i></button>
				<a href="/pedidos" class="btn btn-danger">Cancelar&nbsp;<i class="fa fa-times"></i></a>
			</div>
		</form>
	</div>
</body>
</html>