<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Postulaciones Pedido</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon" href="../img/logo_sin_palabras.png" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<style>
#titulo, label {
	color: white;
}
</style>

</head>
<body class="p-5 mb-2 bg-dark text-white">
	<div class="container">
	<br>
			<h1 class="text-center">
				<img src="../img/logo_sin_palabras.png" width="80" class="my-4">
			</h1>
			<h1 class="text-center">Postulaciones Pedido</h1>
			<br> 	
		<form action="#" th:action="@{/updAdjudicacion}" th:object="${pedido}"
			method="post" class="row">
			
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="p-3 mb-2 bg-primary text-white">Productores&nbsp;&nbsp;<i
									class="fa fa-users"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Calidad Fruta Ofertada&nbsp;&nbsp;<i
									class="fa fa-thumbs-down"></i>&nbsp;&nbsp;<i
									class="fa fa-thumbs-up"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Monto Postulación&nbsp;&nbsp;<i
									class="fa fa-gavel"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="alert alert-warning alert-dismissible fade show"
									role="alert" th:each="pedido : ${pedidoProductor}"
							th:if="${pedido.estado} == Postulado and ${pedido.pedido.id} == *{id}">
							<td th:text="${pedido.productor.nombre_productor}"></td>
							<td th:text="${pedido.calidadFruta.calidad}"></td>
							<td th:text="${pedido.monto}"></td>							
						</tr>
					</tbody>
				</table>
			</div>
			
			<input type="hidden" class="form-control" id="id" th:field="*{id}"
				name="id"> <input type="hidden" class="form-control"
				id="fechaYHora" th:field="*{fechaYHora}" name="fechaYHora">
			<input type="hidden" class="form-control" id="estadoPedido"
				th:value="2" name="estadoPedido"> <input type="hidden"
				class="form-control" id="cliente" th:value="*{cliente.id_cliente}"
				name="cliente">
			
			<input type="hidden" id="from" name="from"> <input
					type="hidden" id="to" name="to"> <input type="hidden"
					id="subject" name="subject"> <input type="hidden" id="body"
					name="body">
			
			<div>
				<br>				
				<button type="submit" class="btn btn-success">Adjudicar&nbsp;&nbsp;<i
									class="fa fa-gavel"></i></button>				
				<a href="/adjudicacion" class="btn btn-danger">Cancelar&nbsp;&nbsp;<i
				class="fa fa-times"></i></a>
			</div>
		</form>		
	</div>
</body>
</html>