<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<title>Maipo Grande</title>

<link rel="stylesheet" href="fonts/icomoon/style.css">

<link href="css/cover.css" rel="stylesheet">

<link
	href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap"
	rel="stylesheet">

<link rel="stylesheet" href="fonts/icomoon/stylee.css">

<link rel="stylesheet" href="../static/css/owl.carousel.min.css">

<link rel="stylesheet" href="css/bootstrap.min.css">

<link rel="stylesheet" href="css/styyle.css">

<link rel="icon" type="image/x-icon"
	href="https://icons.iconarchive.com/icons/mad-science/yellow-submarine/32/APPLE-icon.png" />

<link href="https://fonts.googleapis.com/css?family=Varela+Round"
	rel="stylesheet" />
<link
	href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
	rel="stylesheet" />

<link href="css/styles.css" rel="stylesheet" />

</head>
<body>
	<header th:replace="layout/plantilla :: header"> </header>
	<header class="masthead">
		<div
			class="container px-4 px-lg-5 d-flex h-100 align-items-center justify-content-center">
			<div class="d-flex justify-content-center">
				<div class="text-center">
					<h1 class="mx-auto my-0 text-uppercase">Maipo Grande</h1>
					<h2 class="text-white-50 mx-auto mt-2 mb-5">Lideres en el
						mercado de frutas y verduras.</h2>

				</div>
			</div>
		</div>
	</header>
	<section class="about-section text-center" id="about">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5 justify-content-center">
				<div class="col-lg-8">
					<h2 class="text-white mb-4">Quienes Somos</h2>
					<p class="text-white-50">En Maipo Grande te ayudamos a
						compartir momentos y experiencias memorables con tus preparaciones
						día a día.</p>
				</div>
			</div>
			<img class="img-fluid"
				src="https://images.pexels.com/photos/2132075/pexels-photo-2132075.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
				alt="..." />
		</div>
	</section>
	<section class="projects-section bg-light" id="projects">
		<div class="container px-4 px-lg-5">
			<div class="row gx-0 mb-4 mb-lg-5 align-items-center">
				<div class="col-xl-8 col-lg-7">
					<img class="img-fluid"
						src="https://images.pexels.com/photos/2749165/pexels-photo-2749165.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						alt="..." />
				</div>
				<div class="col-xl-4 col-lg-5">
					<div class="featured-text text-center text-lg-left">
						<h4>Mision</h4>
						<p class="text-black-50 mb-0">Nuestra misión es abastecer de
							productos frescos y de primera calidad de nuestra planta
							productiva, por productores de nuestro querido Chile,
							aprovechando nuestra gran variedad de productos y con los mejores
							estándares de calidad.</p>
					</div>
				</div>
			</div>
			<div class="row gx-0 mb-5 mb-lg-0 justify-content-center">
				<div class="col-lg-6">
					<img class="img-fluid"
						src="https://images.pexels.com/photos/2252584/pexels-photo-2252584.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						alt="..." />
				</div>
				<div class="col-lg-6">
					<div class="bg-black text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-left">
								<h4 class="text-white">Nuestros Productos</h4>
								<p class="mb-0 text-white-50">Queremos que comer sano, no
									sea complicado ni aburrido, asi que constantemente innovamos
									para entregarte los mejores productos y que sean ricos y
									fáciles de preparar. ¿No nos crees? ¡Mira toda nuestra
									variedad!.</p>
								<hr class="d-none d-lg-block mb-0 ms-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row gx-0 justify-content-center">
				<div class="col-lg-6">
					<img class="img-fluid"
						src="https://images.pexels.com/photos/1230157/pexels-photo-1230157.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940"
						alt="..." />
				</div>
				<div class="col-lg-6 order-lg-first">
					<div class="bg-black text-center h-100 project">
						<div class="d-flex h-100">
							<div class="project-text w-100 my-auto text-center text-lg-right">
								<h4 class="text-white">Sustentabilidad</h4>
								<p class="mb-0 text-white-50">Para nosotros cuidar el medio
									ambiente es tan importante como cuidar tu alimentación. Nos
									preocupamos que nuestra producción genere el menor daño
									medioambiental posible, entregándote siempre los mejores
									productos.</p>
								<hr class="d-none d-lg-block mb-0 me-0" />
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="signup-section" id="signup">
		<div class="container px-4 px-lg-5">
			<div class="row gx-4 gx-lg-5">
				<div class="col-md-10 col-lg-8 mx-auto text-center">
					<i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
					<h2 class="text-white mb-5">Suscribete para recibir
						actualizaciones!</h2>
					<form class="form-signup" id="contactForm"
						data-sb-form-api-token="API_TOKEN">
						<div class="row input-group-newsletter">
							<div class="col">
								<input class="form-control" id="emailAddress" type="email"
									placeholder="Coloque correo electronico..."
									aria-label="Enter email address..."
									data-sb-validations="required,email" />
							</div>
							<div class="col-auto">
								<button class="btn btn-primary disabled" id="submitButton"
									type="submit">Notificarme!</button>
							</div>
						</div>
						<div class="invalid-feedback mt-2"
							data-sb-feedback="emailAddress:required">Un correo
							electronico es necesario.</div>
						<div class="invalid-feedback mt-2"
							data-sb-feedback="emailAddress:email">Correo Electronico no
							es valido.</div>
						<div class="d-none" id="submitSuccessMessage">
							<div class="text-center mb-3 mt-2 text-white">
								<div class="fw-bolder">Form submission successful!</div>
								To activate this form, sign up at <br /> <a
									href="https://startbootstrap.com/solution/contact-forms">https://startbootstrap.com/solution/contact-forms</a>
							</div>
						</div>
						<div class="d-none" id="submitErrorMessage">
							<div class="text-center text-danger mb-3 mt-2">Error
								sending message!</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</section>
	<!-- Contact-->
	<footer th:replace="layout/plantilla :: section"></footer>
	<footer th:replace="layout/plantilla :: footer"></footer>
</body>
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
<script src="js/scripts.js"></script>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.sticky.js"></script>
<script src="js/main.js"></script>
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>


