<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Recepcionar Pedido</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon" href="../img/logo_sin_palabras.png" />
<link th:href="@{/css/fa.min.css}" rel="stylesheet">

<style>
#titulo {
	color: white;
}
</style>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body class="p-3 mb-2 bg-dark text-white">
	<div class="container">
		<h1 class="text-center">
				<img src="../img/logo_sin_palabras.png" width="80" class="my-4">
			</h1>
			<h1 class="text-center">Recepcionar Pedido</h1>
			<br>
		<form action="#" th:action="@{/updPedidoEntrega}" th:object="${pedido}"
			method="post" class="row">

			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="p-3 mb-2 bg-primary text-white">Productor&nbsp;&nbsp;<i class="fa fa-users"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Transportista&nbsp;&nbsp;<i class="fa fa-truck"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Productos Recibidos&nbsp;&nbsp;<i class="fa fa-archive"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="alert alert-warning alert-dismissible fade show"
							role="alert"  th:each="subasta : ${subastaTransporte}"
							th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.pedidoProductor.estado} == 'Adjudicado' and ${subasta.estado} == 'Adjudicado'">
							<td
								th:text="${subasta.pedidoProductor.productor.nombre_productor}"></td>
							<td th:text="${subasta.transporte.nombre_transporte}"></td>
							<td>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="p-3 mb-2 bg-success text-white">Nombre</th>
											<th class="p-3 mb-2 bg-success text-white">Cantidad Recibida (*100 Kg.)</th>
										</tr>
									</thead>
									<tbody>
										<tr
											th:each="producto : ${subasta.pedidoProductor.pedido.productos}">
											<td th:text="${producto.nombre}"></td>
											<td th:text="${producto.cantidad}"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>

			<input type="hidden" class="form-control" id="id" th:field="*{id}"
				name="id"> <input type="hidden" class="form-control"
				id="fechaYHora" th:field="*{fechaYHora}" name="fechaYHora">

			<div class="form-group col-md-3">
				<h5>¿Recepcionar Producto?</h5> <select
					th:field="*{estadoPedido}" class="form-select" id="estadoPedido"
					required>
					<option th:value="8" th:text="Aceptar" />
					<option th:value="6" th:text="Rechazar" />
				</select>
			</div>
			<!-- 
			<input type="hidden" class="form-control" id="estadoPedido"
				th:value="7" name="estadoPedido">  -->
			<input type="hidden" class="form-control" id="cliente"
				th:value="*{cliente.id_cliente}" name="cliente">
				
			<input type="hidden" id="from" name="from"> <input
					type="hidden" id="to" name="to"> <input type="hidden"
					id="subject" name="subject"> <input type="hidden" id="body"
					name="body">
				
			<div>
				<br>
				<button type="submit" class="btn btn-primary">Enviar&nbsp;&nbsp;<i
				class="fa fa-envelope"></i></button>
				<a href="/recepcionar" class="btn btn-danger">Cancelar&nbsp;&nbsp;<i
				class="fa fa-times"></i></a>
			</div>
		</form>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</div>
</body>

<script>
		
		var resume_table = document.getElementById("rwd-table-id");
		
		for (var i = 0, row; row = resume_table.rows[i]; i++) {
  			//alert(cell[i].innerText);
  			for (var j = 0, col; col = row.cells[j]; j++) {
    			//alert(col[j].innerText);
    			var resume=(`${col.innerText}`);
  			}
		}
		
		$('#transporte').val(resume);
		
		var resume_table1 = document.getElementById("rwd1-table1-id");
		
		for (var i = 0, row; row = resume_table1.rows[i]; i++) {
  			//alert(cell[i].innerText);
  			for (var j = 0, col; col = row.cells[j]; j++) {
    			//alert(col[j].innerText);
    			var resume1=(`${col.innerText}`);
  			}
		}
		
		$('#usuario').val(resume1);
		

</script>
</html>