<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Subasta Trasporte</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon" href="../img/logo_sin_palabras.png" />
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
<style>
#titulo {
	color: white;
}
</style>
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}">
</head>
<body class="p-3 mb-2 bg-dark text-white">
	<div class="container">
		<h1 class="text-center">
			<img src="../img/logo_sin_palabras.png" width="80" class="my-4">
		</h1>
		<h1 class="text-center">Subasta Transportista</h1>
		<br>
		<div class="table-responsive">
			<table class="table table-bordered">
				<thead>
					<tr>
						<th class="p-3 mb-2 bg-primary text-white">Cliente / Entrega Productos&nbsp;&nbsp;<i
				class="fa fa-users"></i></th>
						<th class="p-3 mb-2 bg-primary text-white">Productor / Retiro Productos&nbsp;&nbsp;<i
				class="fa fa-archive"></i></th>
						<th class="p-3 mb-2 bg-primary text-white">Productos a Entregar&nbsp;&nbsp;<i
				class="fa fa-truck"></i></th>
					</tr>
				</thead>
				<tbody>
					<tr class="alert alert-warning alert-dismissible fade show"
									role="alert"  th:each="productor : ${pedidoProductor}"
						th:if="${productor.id} == *{id} and ${productor.estado} == Adjudicado">
						<td
							th:text="${productor.pedido.cliente.nombre_cliente} +' / '+ ${productor.pedido.cliente.direccion_cliente}"></td>
						<td
							th:text="${productor.productor.nombre_productor} +' / '+${productor.productor.direccion_productor}"></td>
						<td>
							<table class="table table-bordered">
								<thead>
									<tr>
										<th class="p-3 mb-2 bg-success text-white">Nombre</th>
										<th class="p-3 mb-2 bg-success text-white">Cantidad Solicitada (*100 Kg.)</th>
									</tr>
								</thead>
								<tbody>
									<tr th:each="producto : ${productor.pedido.productos}">
										<td th:text="${producto.nombre}"></td>
										<td th:text="${producto.cantidad}"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		<div class="container">
			<h4>Monto Subasta</h4>
			<form action="#" th:action="@{/addSubasta}"
				th:object="${subastaTransporte}" method="post" class="row">

				<input type="hidden" class="form-control" id="id" name="id"
					th:value="0"> <input type="hidden" class="form-control"
					id="pedidoProductor" th:value="${id}" name="pedidoProductor"
					required> <input type="hidden" class="form-control"
					id="transporte" name="transporte"> <input type="hidden"
					class="form-control" id="estado" th:value="Postulado" name="estado">
				<input type="hidden" class="form-control" id="fechaYHora"
					th:field="*{fechaYHora}" name="fechaYHora" required>

				<div class="form-group col-md-4">
					<label for="monto">Costo Traslado</label> <input type="text"
						class="form-control" id="monto" th:field="*{monto}" name="monto"
						required>
				</div>

				<input type="hidden" id="from" name="from"> <input
					type="hidden" id="to" name="to"> <input type="hidden"
					id="subject" name="subject"> <input type="hidden" id="body"
					name="body">

				<div>
					<br>
					<button type="submit" class="btn btn-success">Postular&nbsp;&nbsp;<i
				class="fa fa-check"></i></button>
					<a href="/subastar" class="btn btn-danger">Cancelar&nbsp;&nbsp;<i
				class="fa fa-times"></i></a>
				</div>
			</form>
			<br> <br> <br> <br>
		</div>


		<div style="display: none">
			<table class="table table-striped table-dark" id="rwd-table-id">
				<thead>
					<tr>
						<th>ID</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="Transporte:${listTransporte}"
						th:if="*{Transporte.usuario.username} == transportista1">
						<td th:text="${Transporte.id_trans}">
					</tr>
				</tbody>
			</table>
		</div>

		<div style="display: none">
			<table class="table table-striped table-dark" id="rwd1-table1-id">
				<thead>
					<tr>
						<th>usuario</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td sec:authentication="name">
					</tr>
				</tbody>
			</table>
		</div>

		<input type="hidden" class="form-control" id="usuario" name="usuario">

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</div>
</body>

<script>
	var resume_table = document.getElementById("rwd-table-id");

	for (var i = 0, row; row = resume_table.rows[i]; i++) {
		//alert(cell[i].innerText);
		for (var j = 0, col; col = row.cells[j]; j++) {
			//alert(col[j].innerText);
			var resume = (`${col.innerText}`);
		}
	}

	$('#transporte').val(resume);

	var resume_table1 = document.getElementById("rwd1-table1-id");

	for (var i = 0, row; row = resume_table1.rows[i]; i++) {
		//alert(cell[i].innerText);
		for (var j = 0, col; col = row.cells[j]; j++) {
			//alert(col[j].innerText);
			var resume1 = (`${col.innerText}`);
		}
	}

	$('#usuario').val(resume1);
</script>
</html>