<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="UTF-8">
<title>Informe de Venta</title>

<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon" href="../img/logo_sin_palabras.png" />
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">

<style>
#titulo {
	color: white;
}
</style>

</head>
<body>
	<div class="container">
		<h1 class="text-center">
			<img src="../img/logo_sin_palabras.png" width="90" class="my-4">
		</h1>
		<h1 class="text-center ">Informe Venta</h1>
		<hr>
		<br>
		<div class="table-responsive">
			<h5 class="p-3 mb-2 bg-danger text-white">Datos Cliente</h5>
			<table class="table table-bordered">
				<thead>
					<tr class="text-white  tr-titulo">
						<th class="p-3 mb-2 bg-info ">RUT</th>
						<th class="p-3 mb-2 bg-info ">Nombre</th>
						<th class="p-3 mb-2 bg-info ">Dirección</th>
						<th class="p-3 mb-2 bg-info ">Teléfono</th>
						<th class="p-3 mb-2 bg-info ">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="p-3 mb-2 bg-light text-dark"
						th:each="subasta : ${subastaTransporte}"
						th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.estado} == 'Adjudicado'">
						<td
							th:text="${subasta.pedidoProductor.pedido.cliente.rut_cliente}"></td>
						<td
							th:text="${subasta.pedidoProductor.pedido.cliente.nombre_cliente}"></td>
						<td
							th:text="${subasta.pedidoProductor.pedido.cliente.direccion_cliente}+', '+${subasta.pedidoProductor.pedido.cliente.pais.nombre_pais}"></td>
						<td
							th:text="${subasta.pedidoProductor.pedido.cliente.telefono_cliente}"></td>
						<td
							th:text="${subasta.pedidoProductor.pedido.cliente.email_cliente}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive">
			<h5 class="p-2 mb-2 bg-danger text-white">Datos Productor</h5>
			<table class="table table-bordered">
				<thead>
					<tr class="text-white tr-titulo">
						<th class="p-2 mb-2 bg-info ">RUT</th>
						<th class="p-2 mb-2 bg-info ">Nombre</th>
						<th class="p-2 mb-2 bg-info ">Dirección</th>
						<th class="p-2 mb-2 bg-info ">Teléfono</th>
						<th class="p-2 mb-2 bg-info ">Email</th>
					</tr>
				</thead>
				<tbody>
					<tr class="p-3 mb-2 bg-light text-dark"
						th:each="subasta : ${subastaTransporte}"
						th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.estado} == 'Adjudicado'">
						<td th:text="${subasta.pedidoProductor.productor.rut}"></td>
						<td
							th:text="${subasta.pedidoProductor.productor.nombre_productor}"></td>
						<td
							th:text="${subasta.pedidoProductor.productor.direccion_productor}"></td>
						<td
							th:text="${subasta.pedidoProductor.productor.telefono_productor}"></td>
						<td th:text="${subasta.pedidoProductor.productor.email_productor}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive">
			<h5 class="p-3 mb-2 bg-danger text-white">Datos Traslado</h5>
			<table class="table table-bordered">
				<thead>
					<tr class="text-white  tr-titulo">
						<th class="p-3 mb-2 bg-info">Nombre
							Transportista</th>
						<th class="p-3 mb-2 bg-info">Productos
							Transportados</th>
					</tr>
				</thead>
				<tbody>
					<tr class="p-1 mb-2 bg-light text-dark"
						th:each="subasta : ${subastaTransporte}"
						th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.estado} == 'Adjudicado'">
						<td th:text="${subasta.transporte.nombre_transporte}"></td>
						<td>
							<table class="table table-bordered">
								<thead>
									<tr class="text-white  tr-titulo">
										<th class="p-1 mb-2 bg-success">Nombre</th>
										<th class="p-1 mb-2 bg-success">Cantidad (*100
											Kg.)</th>
									</tr>
								</thead>
								<tbody>
									<tr
										th:each="producto : ${subasta.pedidoProductor.pedido.productos}">
										<td th:text="${producto.nombre}"></td>
										<td th:text="${producto.cantidad}"></td>
									</tr>
								</tbody>
							</table>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<hr>
		<div class="table-responsive col-md-4">
			<h5 class="p-3 mb-2 bg-danger text-white">Costos Asociados</h5>
			<table class="table table-bordered">
				<thead>
					<tr class="text-white  tr-titulo" th:each="subasta : ${subastaTransporte}"
						th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.estado} == 'Adjudicado'">
						<th class="p-2 mb-2 bg-info">Costo Total Productos</th>
						<th class="p-1 mb-2 bg-light"><input
							class="p-1 mb-2 bg-light" id="totalProducto"
							name="totalProducto" th:value="${subasta.pedidoProductor.monto}"
							disabled></th>
					</tr>
					<tr class="text-white  tr-titulo" th:each="subasta : ${subastaTransporte}"
						th:if="${subasta.pedidoProductor.pedido.id} == *{id} and ${subasta.estado} == 'Adjudicado'">
						<th class="p-2 mb-2 bg-info">Costo Traslado</th>
						<th class="p-1 mb-2 bg-light"><input
							class="p-1 mb-2 bg-light" id="totalTransporte"
							name="totalTransporte" th:value="${subasta.monto}" disabled></th>
					</tr>
					<tr class="text-white  tr-titulo">
						<th class="p-2 mb-2 bg-info">Total Neto</th>
						<th class="p-1 mb-2 bg-light"><input
							class="p-1 mb-2 bg-light" id="totalNeto"
							name="totalNeto" disabled></th>
					</tr>
					<tr class="text-white  tr-titulo">
						<th class="p-2 mb-2 bg-info">% Comisión (10%)</th>
						<th class="p-1 mb-2 bg-light"><input
							class="p-1 mb-2 bg-light" id="comision" name="comision"
							disabled></th>
					</tr>
					<tr class="text-white  tr-titulo">
						<th class="p-2 mb-2 bg-warning">Total a Pagar</th>
						<th class="p-1 mb-2 bg-light"><input
							class="p-1 mb-2 bg-light" id="totalPagar"
							name="totalPagar" disabled></th>
					</tr>
				</thead>
			</table>
			<a href="/ventas" class="btn btn-danger btn-botones">Volver&nbsp;<i
				class="fa fa-reply"></i></a> 
				<a id="btnImprimir" href="" class="btn btn-success btn-botones">Imprimir&nbsp;<i
				class="fa fa-print"></i></a>
		</div>

		<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
			integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
			integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
			integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
			crossorigin="anonymous"></script>

		<script
			src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	</div>
</body>
<script>
	var totalP = $('#totalProducto').val();
	var totalT = $('#totalTransporte').val();

	var suma;
	suma = parseFloat(totalP) + parseFloat(totalT);
	$('#totalNeto').val(suma);

	var comision;
	var porcent = 0.10;
	comision = parseFloat(suma) * parseFloat(porcent);
	$('#comision').val(comision);

	var pagar;
	pagar = parseFloat(suma) + parseFloat(comision)
	$('#totalPagar').val(pagar);
	
	
	jQuery(document).ready(function(){

		jQuery('#btnImprimir').click(function(){
			
			jQuery('.tr-titulo').removeClass('text-white');
			jQuery('.tr-titulo').addClass('text-black');
			jQuery('.btn-botones').addClass('d-none');
			window.print();
			jQuery('.tr-titulo').removeClass('text-black');
			jQuery('.tr-titulo').addClass('text-white');
			jQuery('.btn-botones').removeClass('d-none');
			
			 
			
		});
	});
</script>
</html>