<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="master">
<title>Subastas Disponibles</title>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description"
	content="Punto de venta con Spring Boot. Control de inventario y ventas ">
<meta name="author" content="Parzibyte">
<!-- Cargar el CSS de Boostrap-->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/css/fa.min.css}" rel="stylesheet">
<link th:href="@{/css/style.css}" rel="stylesheet">
<!-- AGREGAR ICONO DE LA MANZANA EN LA PAGINA-->
<link rel="icon" type="image/x-icon" href="../img/logo_sin_palabras.png" />

<body class="p-3 mb-2 bg-dark text-white">
	<main layout:fragment="contenido">
		<div class="col-12">
			<h1 class="text-center">
				<img src="../img/logo_sin_palabras.png" width="80" class="my-4">
			</h1>
			<h1 class="text-center">Subastas Disponibles</h1>
			<br> <br>
			<div th:classappend="'alert-' + (${clase != null} ? ${clase} : info)"
				th:if="${mensaje != null}" th:text="${mensaje}" class="alert">
			</div>
			<div class="table-responsive">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th class="p-3 mb-2 bg-primary text-white"></th>
							<th class="p-3 mb-2 bg-primary text-white">Cliente / Entrega Productos&nbsp;&nbsp;<i
				class="fa fa-users"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Productor / Retiro Productos&nbsp;&nbsp;<i
				class="fa fa-archive"></i></th>
							<th class="p-3 mb-2 bg-primary text-white">Productos a Entregar&nbsp;&nbsp;<i
				class="fa fa-truck"></i></th>
						</tr>
					</thead>
					<tbody>
						<tr class="alert alert-warning alert-dismissible fade show"
									role="alert"  th:each="postulacion : ${pedidoProductor}"
							th:if="${postulacion.pedido.estadoPedido.id_estado} == 4 and ${postulacion.estado} == 'Adjudicado'">
							<td><a
								th:href="@{/postularSubasta/{id}(id=${postulacion.id})}"
								class="btn btn-success">Postular</a></td>
							<td
								th:text="${postulacion.pedido.cliente.nombre_cliente} +' / '+ ${postulacion.pedido.cliente.direccion_cliente}"></td>
							<td
								th:text="${postulacion.productor.nombre_productor} +' / '+${postulacion.productor.direccion_productor}"></td>
							<td>
								<table class="table table-bordered">
									<thead>
										<tr>
											<th class="p-3 mb-2 bg-success text-white">Nombre</th>
											<th class="p-3 mb-2 bg-success text-white">Cantidad Solicitada (*100 Kg.)</th>
										</tr>
									</thead>
									<tbody>
										<tr th:each="producto : ${postulacion.pedido.productos}">
											<td th:text="${producto.nombre}"></td>
											<td th:text="${producto.cantidad}"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
			<a href="/subastas" class="btn btn-danger">Cancelar&nbsp;<i
				class="fa fa-times"></i></a>
		</div>
	</main>
</body>
</html>